* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, .intro .title, .intro .heart, .intro .hand, .intro .waist, .intro .feet, .intro .loot {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  -webkit-transition: opacity ease 1.25s;
  transition: opacity ease 1.25s;
}

.preload p {
  z-index: 2;
  color: white;
  font-size: 30px;
}

.preload #logo {
  position: absolute;
  width: 450px;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.preload #logo:nth-child(1) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-animation: spin 10s linear infinite, breath 12s ease infinite alternate;
          animation: spin 10s linear infinite, breath 12s ease infinite alternate;
}

.preload #logo:nth-child(2) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-animation: spin 10s linear infinite, breath 6s ease infinite alternate;
          animation: spin 10s linear infinite, breath 6s ease infinite alternate;
}

.preload #logo:nth-child(3) {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-animation: spin 10s linear infinite, breath 2s ease infinite alternate;
          animation: spin 10s linear infinite, breath 2s ease infinite alternate;
}

.preload #text {
  position: absolute;
  width: 400px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.preload #textblur {
  position: absolute;
  width: 400px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes breath {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes breath {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

a {
  top: 10%;
  left: 10%;
  font-size: 25px;
  color: white;
  font-family: "Play", sans-serif, bold;
  -webkit-filter: drop-shadow(0 0 0.3rem black);
          filter: drop-shadow(0 0 0.3rem black);
  list-style: none;
  z-index: 1;
}

a:hover {
  color: #d9ffe9;
  -webkit-filter: drop-shadow(0 0 0.1rem #45ffc7);
          filter: drop-shadow(0 0 0.1rem #45ffc7);
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro .title {
  top: 51%;
  left: 80%;
  font-size: 70px;
  color: white;
  font-family: "Play", sans-serif, bold;
}

.intro span {
  opacity: 0;
  -webkit-transition: all 2.5s ease;
  transition: all 2.5s ease;
  color: white;
}

.intro span.fade {
  opacity: 1;
  color: #d9ffe9;
  -webkit-filter: drop-shadow(0 0 0.5rem #45ffc7);
          filter: drop-shadow(0 0 0.5rem #45ffc7);
}

.intro .heart {
  top: 50%;
  left: 25%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  background-color: rgba(0, 0, 0, 0.801);
}

.intro .hand {
  top: 50%;
  left: 70%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  background-color: rgba(0, 0, 0, 0.801);
}

.intro .waist {
  top: 50%;
  left: 68%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  background-color: rgba(0, 0, 0, 0.801);
}

.intro .feet {
  top: 50%;
  left: 36%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  background-color: rgba(0, 0, 0, 0.801);
}

.intro .loot {
  top: 20%;
  left: 20%;
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

section a {
  top: 20%;
  left: 20%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding: 15px 20px 15px 20px;
  letter-spacing: 2px;
  -webkit-filter: drop-shadow(0 0 0.75rem black);
          filter: drop-shadow(0 0 0.75rem black);
  color: black;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */